
    <span class="tags">
        <h1>Explore more Zeegas...  <br>
            <a class="tag-link" data-bypass="true" href="<%=path %>tag/bestof" >#bestof</a>
            <a class="tag-link" data-bypass="true" href="<%=path %>tag/stories" >#stories</a>
            <a class="tag-link" data-bypass="true" href="<%=path %>tag/funny" >#funny</a>
            <a class="tag-link" data-bypass="true" href="<%=path %>tag/music" >#music</a>
        </h1>
    </span>
    <% if (userId == -1 ){ %>
        <span >
            <h1>
                <a class="btnz join-zeega" href="<%=path %>register" >Join Zeega</a>
            </h1>
        </span>   
    <% } %>